<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- style css -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vue.js 3.3.8 -->
    <script src="https://unpkg.com/vue@3.3.8/dist/vue.global.js"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <h1>VUE.JS</h1>
        <div class="box">
            <h2>{{titolo}}</h2>
            <input type="text" v-model="titolo" placeholder="scegli tu il titolo dell'esercizio!">
            <div v-for="(mail, index) in emails">
                {{emails[index]}}
            </div>
        </div>

    </div>

    <script src="./java/main.js"></script>
</body>
</html>